.element__like {
    background-image: url('../../../images/Like.png');
    background-repeat: no-repeat;
    width: 22px;
    height: 19px;
    transition: opacity 0.3s linear;
}

.element__like:hover {
    cursor: pointer;
    opacity: 0.6;
}

.element__like:active {
    background-image: url('../../../images/ActivLike.png');
}