.profile__edit-button {
    margin: auto;
    border: 1px solid #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 24px;
    min-height: 24px;
    padding: 0;
    background-color: transparent;
    transition: opacity 0.3s linear;
}

.profile__edit-button:hover {
    cursor: pointer;
    opacity: 0.6;
}

@media screen and (max-width: 647px){
    .profile__edit-button {
        min-width: 20px;
        min-height: 20px;
        padding: 0;
    }
}