.form {
    position: relative;
    max-width: 430px;
    min-width: 282px;
    background-color: #ffffff;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-self: baseline;
}