.profile__info {
    max-width: 336px;
    display: grid;
    grid-template-columns: 11fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0 16px;
}

@media screen and (max-width: 467px){
    .profile__info {
        gap: 0 10px;
        margin: 23px auto 32px;
        justify-content: center;
    }
}