.popup__submit-button {
    max-width: 358px;
    width: 100%;
    min-height: 50px;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    background-color: #000000;
    color: #ffffff;
    transition: opacity 0.3s linear;
    margin: 18px auto 37px;
    padding: 0;
    border-radius: 2px;
    border: none;
}

.popup__submit-button:hover {
    cursor: pointer;
    opacity: 0.8;
}

@media screen and (max-width: 647px) {
    .popup__submit-button {
        max-width: 238px;
        margin: 15px auto 25px;
        font-size: 14px;
        line-height: 17px;
    }
}
