.header__line {
    width: 100%;
    opacity: 70%;
    border: 1px solid #545454;
    margin: 41px 0 40px 0;
}

@media screen and (max-width: 467px){
    .header__line {
        margin: 31px 0 42px 0;
    }
}