.form__close-icon {
    background-image: url('../../../images/Close Icon (1).png');
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    border: 0;
    width: 40px;
    height: 40px;
    transition: opacity 0.3s linear;
    position: absolute;
    right: -50px;
    top: -50px;
}

.form__close-icon:hover {
    cursor: pointer;
    opacity: 0.6;
}

@media screen and (max-width: 467px) {
    .form__close-icon {
        right: 0;
        width: 26px;
        height: 26px;
    }
}
