.profile__info {
    max-width: 336px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    border: 1px solid red;
}

@media screen and (max-width: 467px){
    .profile__info {
        margin: 23px auto 32px;
        justify-content: center;
    }
}