.element__like {
    background-image: url('../../../images/Like.svg');
    background-color: transparent;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    padding: 0;
    min-height: 22px;
    min-width: 22px;
    transition: opacity 0.3s linear;
    outline: none;
}

.element__like:hover {
    cursor: pointer;
    opacity: 0.5;
}
