.element__like_active {
    background-image: url('../../../../images/LIkeActive.svg');
    background-color: transparent;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    padding: 0;
    min-height: 20px;
    min-width: 20px;
    outline: none;
}