.profile__change-button {
    border: none;
    background-color: transparent;
    margin: 0;
    padding: 0;
    border-radius: 100%;
    transition: opacity 0.3s linear;
    background-image: url('../../../../src/images/image.jpg');
    width: 120px;
    height: 120px;
    background-size: cover;
}

.profile__change-button:hover {

    opacity: 0.8;
}