.profile__info_edit-button {
    margin-left: 18px;
    object-position: center;
    border: 1px solid #ffffff;
    background-color: #000000;
    transition: opacity 0.3s linear;
}

.profile__info_edit-button:hover {
    cursor: pointer;
    opacity: 0.6;
}